
body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    /* border: 1px solid #ccc; */
    /* border-radius: 5px; */
    /* background-color: #f9f9f9; */
}
.pa h1{
    text-align: center;
    
    font-weight: bold;
   
   
}
h3{
    margin-top: 60px;
}
input[type="text"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 15px 0;
    border: 1px solid #b1afaf;
    background-color:  rgb(248, 247, 247);
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 15px;
    
}
button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
}


